piano-chord-notator {
    display: block;
    padding-bottom: 5px;
    font-size:13px;
    piano {
        display: inline-block;
    }
    position:relative;
    .add-button-container {
        height: 300px;
        width: 50px;
        padding-top: 135px;
        vertical-align: middle;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        &.low {
            text-align: right;
        }
        &.high {
            text-align: left;
        }
    }
    .download-button {
        text-decoration-line: unset !important;
        border: 0;
    }
    .btn-toolbar {
        display: inline-block;
        padding: 5px 15px;
        border-radius: 5px;
        margin-top: 5px;
        .fa-refresh {
            color: lightgreen;
        }
        .fa-play {
            color: lightskyblue;
        }
        .fa-download {
            color: white;
        }
    }
    .piano-container {
        white-space: nowrap;
        overflow: auto;
        position: relative;
    }
    .inner-piano-container {
        position: relative;
        display: inline-block;
    }
    .chord-name {
        display: block;
        font-size: 5em;
        color: black;
        text-align: center;
        margin: auto;
        padding: 0;
        margin-bottom: -.22em;
        margin-top: -.22em;
        border: 0;
        background-color: transparent;
        &:focus,
        &:focus {
            outline: none;
        }
    }
}