piano-chord-notator {
    display: block;
    padding-bottom: 5px;
    piano {
        display: inline-block;
    }
    .add-button-container {
        height: 300px;
        width: 30px;
        padding-top: 135px;
        vertical-align: middle;
        display: inline-block;
        vertical-align: top;
    }
}