<div class="toolbar-container">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <button class="btn btn-secondary mr-2 mt-2" ng-click="vm.clearSelection()">
            <i class="fa fa-refresh mr-1"></i>
            Clear Selection
        </button>
        <button class="btn btn-secondary  mr-2 mt-2" ng-click="vm.playChord()">
            <i class="fa fa-play mr-1"></i>
            Play Chord
        </button>
        <div class="btn-group mr-2 mt-2" role="group">
            <button id="btnGroupDrop1" ng-click="vm.generateImage()" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Generate Image
            </button>
            <div class="dropdown-menu text-center" aria-labelledby="btnGroupDrop1" style="width:300px;">
                <a class="dropdown-item" download="export.png" ng-href="{{vm.downloadUrl}}">
                    <div ng-if="!vm.downloadUrl">
                        <img src="content/ajax-loader.gif" /> Generating Image
                    </div>
                    <span class="btn btn-secondary mr-2 mt-2" target="_self" ng-if="vm.downloadUrl">
                        <i class="fa fa-download mr-1"></i>Download
                    </span>
                    <img ng-if="vm.downloadUrl" ng-src="{{vm.downloadUrl}}" class="block w-100 mt-2" />
                </a>
            </div>
        </div>
        <div class="btn-group mr-2 mt-2" role="group">
            <button id="btnGroupDrop1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Share
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <label class="dropdown-item">
                    <a ng-href="{{vm.shareUrl}}" target="_blank">Share Link</a>
                </label>
            </div>
        </div>
        <div class="btn-group mr-2 mt-2" role="group">
            <button id="btnGroupDrop1" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-cog mr-2"></i>Options
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <label class="dropdown-item" onclick="event.stopPropagation()">
                    <input type="checkbox" ng-model="vm.playKeyWhenPressed" />&nbsp;Play key when pressed
                </label>
                <label class="dropdown-item" onclick="event.stopPropagation()">
                    <input type="checkbox" ng-model="vm.showOctaveIndicator" ng-model-options="{getterSetter: true}" />&nbsp;Show octave indicator
                </label>
            </div>
        </div>
    </div>
</div>

<div class="piano-container px-2">
    <div class="add-button-container low">
        <select class="mb-2 form-control p-0" ng-model="vm.beginKey" ng-options="key as key for key in vm.whiteKeys"></select>
        <button class="btn btn-secondary w-100" ng-click="vm.addLowerKey()">+</button>
    </div>
    <div class="inner-piano-container" id="{{vm.pianoId}}">
        <input type="text" class="chord-name" ng-model="vm.chordName" onclick="this.select()" ng-model-options="{getterSetter: true}"
        />
        <piano play-key-when-pressed="vm.playKeyWhenPressed" key-selection="vm.keySelection" begin-key="{{vm.beginKey}}" end-key="{{vm.endKey}}"
            onchange="vm.changed()"></piano>
    </div>

    <div class="add-button-container high">
        <select class="mb-2 form-control p-0" ng-model="vm.endKey" ng-options="key as key for key in vm.getRemainingKeys(vm.beginKey)"></select>
        <button class="btn btn-secondary w-100" ng-click="vm.addHigherKey()">+</button>
    </div>
</div>