<div class="toolbar">
    <select ng-model="vm.beginKey" ng-options="key as key for key in vm.whiteKeys"></select>
    <select ng-model="vm.endKey" ng-options="key as key for key in vm.getRemainingKeys(vm.beginKey)"></select>
    <button ng-click="vm.reset()">Reset</button>
    <button ng-click="vm.playChord()">Play Chord</button>
    <a target="_self" download="export.png" ng-href="{{vm.downloadUrl}}" ng-disabled="!vm.downloadUrl"><button>Download</button></a>
    <label class="pointer">
        <input type="checkbox" name="play-key-when-pressed" ng-value="true" ng-model="vm.playKeyWhenPressed" />&nbsp;Play key when pressed
    </label>

</div>
<div class="add-button-container">
    <button ng-click="vm.addLowerKey()">+</button>
</div>

<piano id="{{vm.pianoId}}" play-key-when-pressed="vm.playKeyWhenPressed" key-selection="vm.keySelection" begin-key="{{vm.beginKey}}" end-key="{{vm.endKey}}" onchange="vm.changed()"></piano>

<div class="add-button-container">
    <button ng-click="vm.addHigherKey()">+</button>
</div>
<div class="clearfix"></div>