piano-key {
    $majorWhiteSelectedColor: #5ef9fc;
    $majorBlackSelectedColor: darken($majorWhiteSelectedColor, 20%);
    $minorWhiteSelectedColor: #f15555;
    $minorBlackSelectedColor: darken($minorWhiteSelectedColor, 20%);
    display: inline-block;
    position: relative;
    &.white-key {
        display: inline-block;
        width: 4.38em;
        background: linear-gradient(-30deg, #f8f8f8, #ffffff);
        box-shadow: inset 0 .05em 0 #ffffff, inset 0 -.05em 0 #ffffff, inset .05em 0 0 #ffffff, inset -.06em 0 0 #ffffff, 0 .25em .2em rgba(0, 0, 0, 0.7), inset 0 -.05em 0 #ffffff, inset -.05em 0 0 #ffffff, inset -.09em -.07em 1em rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
        height: 18.72em;
        &:active {
            box-shadow: inset 0 .05em 0 #ffffff, inset 0 -.05em 0 #fffffff1, inset 1px 0 0 #ffffff, inset -1px 0 0 #ffffff, 0 .25em .2em rgba(0, 0, 0, 0.7), inset 0 -.05em 0 #ffffff, inset 1px 0 0 #ffffff, inset -.09em -.07em 1em #000000, -3px 4px 6px rgba(0, 0, 0, 0.5);
            position: relative;
            height: 18.5em;
        }
    }
    &.white-key.major.selected {
        background: linear-gradient(-30deg, $majorWhiteSelectedColor, darken($majorWhiteSelectedColor, 20%), $majorWhiteSelectedColor);
    }
    &.black-key.major.selected {
        background: linear-gradient(-20deg, $majorBlackSelectedColor, lighten($majorBlackSelectedColor, 10%), $majorBlackSelectedColor);
    }
    &.white-key.minor.selected {
        background: linear-gradient(-30deg, $minorWhiteSelectedColor, darken($minorWhiteSelectedColor, 10%), $minorWhiteSelectedColor);
    }
    &.black-key.minor.selected {
        background: linear-gradient(-20deg, $minorBlackSelectedColor, lighten($minorBlackSelectedColor, 10%), $minorBlackSelectedColor);
    }
    &.black-key {
        content: "";
        box-shadow: inset 0 -.1em .35em rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
        background: linear-gradient(-20deg, #222222, #000000, #222222);
        border-width: .05em .2em .5em;
        border-style: solid;
        border-color: #666 #222 #111 #555;
        height: 10em;
        width: 3.12em;
        z-index: 1;
        &:active {
            border-left-width: .12em;
            border-right-width: .12em;
            border-bottom-width: .2em;
            .finger-number {
                margin-left: .05em;
            }
        }
        .note {
            bottom: -7.15em;
        }
    }
    .note {
        position: absolute;
        bottom: -1.4em;
        font-size: 1.6em;
        width: 100%; //border: .05em solid red;
        text-align: center;
        font-weight: bold;
        user-select: none;
        cursor: pointer;
    }
    .note:hover {
        text-shadow: 2px 2px 2px grey;
    }
    .finger-number {
        border-width: .1em;
        width: 2em;
        height: 2em;
        font-size: 1.9em;
        padding-top: .07em;
    }
    /*
    * The number indicating what finger should be placed on this key
    */
    .selected-finger {
        position: absolute;
        left: .14em;
        bottom: .7em;
        box-shadow: .08em .08em .4em .02em #202020;
    }
    &.black-key .selected-finger {
        border-color: black;
        left: -.3em;
        bottom: .7em;
    }
    &.black-key.major .selected-finger {
        background-color: $majorWhiteSelectedColor;
    }
    &.black-key.minor .selected-finger {
        background-color: $minorWhiteSelectedColor;
    }
    .key {
        position: absolute;
        display: block;
        text-align: center;
        width: 100%;
        top: 8.5em;
        color: grey;
        font-weight: bold;
        font-size: 1.2em;
    }
    &.black-key .key {
        top: 1em;
    }
}