piano-key {
    $majorWhiteSelectedColor: #5ef9fc;
    $majorBlackSelectedColor: darken($majorWhiteSelectedColor, 20%);
    $minorWhiteSelectedColor: #f15555;
    $minorBlackSelectedColor: darken($minorWhiteSelectedColor, 20%);
    display: inline-block;
    position: relative;
    &.white-key {
        display: inline-block;
        width: 70px;
        height: 300px;
        background: linear-gradient(-30deg, #f8f8f8, #ffffff);
        box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
        height: 300px;
        &:active {
            box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #fffffff1, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px #000000, -3px 4px 6px rgba(0, 0, 0, 0.5);
            position: relative;
            top: -5px;
            .finger-selector {
                bottom: -45px;
            }
        }
    }
    &.white-key.major.selected {
        background: linear-gradient(-30deg, $majorWhiteSelectedColor, darken($majorWhiteSelectedColor, 20%), $majorWhiteSelectedColor);
    }
    &.black-key.major.selected {
        background: linear-gradient(-20deg, $majorBlackSelectedColor, lighten($majorBlackSelectedColor, 10%), $majorBlackSelectedColor);
    }
    &.white-key.minor.selected {
        background: linear-gradient(-30deg, $minorWhiteSelectedColor, darken($minorWhiteSelectedColor, 10%), $minorWhiteSelectedColor);
    }
    &.black-key.minor.selected {
        background: linear-gradient(-20deg, $minorBlackSelectedColor, lighten($minorBlackSelectedColor, 10%), $minorBlackSelectedColor);
    }
    &.black-key {
        content: "";
        box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
        background: linear-gradient(-20deg, #222222, #000000, #222222);
        border-width: 1px 3px 8px;
        border-style: solid;
        border-color: #666 #222 #111 #555;
        height: 160px;
        width: 50px;
        z-index: 1;
        &:active {
            border-left-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 3px;
            .finger-selector {
                bottom: -35px;
                left: -53px;
            }
        }
        .note {
            bottom: -190px;
        }
    }
    .note {
        position: absolute;
        bottom: -42px;
        font-size: 30px;
        width: 100%;
        text-align: center;
        font-weight: bold;
        user-select: none;
    }
    .finger-number {
        border-width: 3px;
        width: 60px;
        height: 60px;
        font-size: 30px;
        padding-top:2px;
    }
    /*
    * The number indicating what finger should be placed on this key
    */
    .selected-finger {
        position: absolute;
        left: 4px;
        bottom: 20px;
        box-shadow: 1px 2px 10px 1px #202020;
    }
    &.black-key .selected-finger {
        border-color: black;
        left: -7px;
        bottom: 20px;
    }
    &.black-key.major .selected-finger {
        background-color: $majorWhiteSelectedColor;
    }

    &.black-key.minor .selected-finger {
        background-color: $minorWhiteSelectedColor;
    }
}