piano-key {
    display: inline-block;
    position: relative;
    &.white-key {
        display: inline-block;
        width: 70px;
        height: 300px;
        background: linear-gradient(-30deg, #f8f8f8, #ffffff);
        box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px rgba(0, 0, 0, 0.5), -3px 4px 6px rgba(0, 0, 0, 0.5);
        height: 300px;
        &:active {
            box-shadow: inset 0 1px 0px #ffffff, inset 0 -1px 0px #fffffff1, inset 1px 0px 0px #ffffff, inset -1px 0px 0px #ffffff, 0 4px 3px rgba(0, 0, 0, 0.7), inset 0 -1px 0px #ffffff, inset 1px 0px 0px #ffffff, inset -1px -1px 15px #000000, -3px 4px 6px rgba(0, 0, 0, 0.5);
            position: relative;
            top: -5px;
        }
    }
    &.white-key.selected {
        background: linear-gradient(-30deg, #5ef9fc, #40f9fc, #9cfcff);
    }
    &.black-key.selected {
        background: linear-gradient(-20deg, #0077a1, #000000, #0077a1);
    }
    &.black-key {
        content: "";
        box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
        background: linear-gradient(-20deg, #222222, #000000, #222222);
        border-width: 1px 3px 8px;
        border-style: solid;
        border-color: #666 #222 #111 #555;
        height: 160px;
        width: 50px;
        z-index: 10;
        &:active {
            border-left-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 3px;
            .finger-number {
                left: 9px;
            }
        }
        .finger-number {
            border-color: white;
            color: white;
            left: 7px;
            bottom: 10px;
        }
    }
    /*
    * The number indicating what finger should be placed on this key
    */
    .selected-finger {
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    .selected-finger:hover {
        background-color: black;
        color: white;
    }
}

.finger-number {
    border-radius: 50%;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
}

.finger-selector {
    position: absolute;
    bottom: 0px;
    z-index:100;
    left: -37.5px;
    bottom: -40px;
    background-color: transparent;
    width: 150px;
    height: 160px;
    .finger-number {
        background-color:white;
        position: absolute;
    }
    .L1 {
        top: 5px;
        left: 42px;
    }
    .R1 {
        top: 5px;
        right: 42px;
    }
    .L2 {
        top: 35px;
        left: 22px;
    }
    .R2 {
        top: 35px;
        right: 22px;
    }
    .L3 {
        top: 65px;
        left: 2px;
    }
    .R3 {
        top: 65px;
        right: 2px;
    }
    .L4 {
        top: 95px;
        left: 22px;
    }
    .R4 {
        top: 95px;
        right: 22px;
    }
    .L5 {
        top: 125px;
        left: 42px;
    }
    .R5 {
        top: 125px;
        right: 42px;
    }
}