* {
    box-sizing: border-box;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.pointer {
    cursor: pointer;
}

button {
    cursor: pointer;
}

label {
    cursor: pointer;
}

.clearfix {
    clear: both;
}

.very-wide {
    width: 2000px;
}

.finger-number {
    border-radius: 50%;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 0px;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    &:hover {
        background-color: black !important;
        color: white;
    }
}

piano-chord-notator {
    display: block;
    margin: auto;
    text-align: center;
}

.dropdown-menu {
    box-shadow: 4px 4px 14px 1px #444444;
}