piano {
    display: block;
    padding-bottom: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    white-space: nowrap;
    overflow:auto;
    piano-key {
        &.white-key {
            margin: 0 1px;
        }
        display: inline-block;
        vertical-align: top;
        &.black-key {
            text-align: top;
            margin-left: -25px;
            margin-right: -25px;
            position: absolute;
        }
    }
}